* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


body {
 font-family: 'Open Sans', sans-serif;
}

header,
h1,
button {
 font-family: 'Raleway', sans-serif;
}


button {
 background-color: hsl(224, 93%, 58%);
 color: white;
 border: none;
 width: 150px;
 height: 35px;
 border-radius: 4px;
}

#second-btn {
 box-shadow: 3px 3px 3px hsl(238, 33%, 41%);
}


#top-input {
 width: 250px;
 height: 33px;
 margin-right: 5px;
 border: 2px solid hsl(0, 0%, 75%);
 border-radius: 2px;
 display: inline-block;
}

input[type='email'] :placeholder-shown {
 text-align: left;
}

nav {
 float: right;
 margin: 50px 80px 0 0;
}

nav>a {
 margin-left: 40px;
 text-decoration: none;
}

.logo {
 margin: 50px 0 0 80px;
}

p {
 margin-top: 10px;
 margin-bottom: 10px;
}


.container1 {
 display: grid;
 grid-template: 1fr 0.07fr 1fr/1fr 1fr;
 grid-template-areas:
  "a c"
  "curve curve"
  "b d";
}

#curve {
 grid-area: curve;
 width: 100vw;
 margin-top: 0px;
}

.block1content {
 grid-area: a;
 padding: 10%;
 margin-top: 80px;
}

.block2content {
 background-color: hsl(240, 75%, 98%);
 grid-area: b;
 padding: 5% 10% 0 10%;
}

.blockimage1>img {
 width: 40vw;
 height: auto;
 margin-top: 80px;
}

.blockimage1 {
 grid-area: c;
}

.blockimage2>img {
 width: 40vw;
 height: auto;
 margin: 0;
 padding-top: 10%;
}

.blockimage2 {
 grid-area: d;
 background-color: hsl(240, 75%, 98%);
 padding-bottom: 20%;
}

#avatar {
 width: 30px;
 height: auto;
 border-radius: 50%;
}

#test {
 width: 27vw;
 height: auto;
 background-color: white;
 border-radius: 4px;
 box-shadow: 0 0 10px hsl(0, 0%, 75%);
 padding: 30px;
 margin-top: 30px;
}

#founder-name {
 font-family: 'Raleway', sans-serif;
 clear: right;
}

#founder-title {
 display: block;
 font-size: 0.7em;
}

#test>img {
 float: left;
 margin-right: 7px;
 margin-top: 5px;
}


.container2 {
 display: grid;
 grid-template-columns: 40% 30%;
 grid-template-areas:
  "e f"
 ;
 grid-column-gap: 10vw;
 background: hsl(238, 22%, 44%);
 padding: 70px;
 color: white;
}

.bottom-left {
 grid-area: e;
}

.bottom-right {
 margin-top: 30px;
 grid-area: f;
}

#block2contentlink {
 text-decoration: none;
 border-bottom: solid hsl(170, 45%, 43%) 2px;
 color: hsl(170, 45%, 43%);
}

#bottom-input {
 width: 30vw;
 height: 40px;
 border-radius: 2px;
 margin-left: 100px;
}

#second-btn {
 display: block;
 margin-top: 10px;
 margin-left: 100px;
}

.container3 {
 display: grid;
 grid-template-columns: 2fr 1fr 1fr 1fr;
 padding: 90px;
 color: white;
 background-color: hsl(243, 87%, 12%);
 grid-template-areas:
  "g g g g"
  "h i j k"
 ;
}

#ftr1 {
 grid-area: g;
}

#ftr2 {
 grid-area: h;
}

#ftr3 {
 grid-area: i;
}

#ftr4 {
 grid-area: j;
}

#ftr5 {
 grid-area: k
}

#logo-btm {
 margin-top: 10px;
 margin-bottom: 30px;
}

#it-only {
 font-family: 'Raleway', sans-serif;
 font-weight: 400;
}

.attribution {
 background-color: hsl(243, 87%, 12%);
 color: white;
 padding: 10px;
 margin: 0;
}

#attribution>a {
 color: white;
}

@media only screen and (max-width: 900px) {
 .container1 {
  padding: 0;
  margin: 0;
  display: grid;

  grid-template-rows: 0.3fr 0.3fr 0.01fr 0.3fr 0.3fr;
  grid-template-areas:
   "c"
   "a"
   "curve"
   "d"
   "b"
  ;
 }

 nav {
  float: right;
  margin: 40px 20px 10px 10px;
 }

 nav>a {
  margin-left: 10px;
  text-decoration: none;
 }

 .logo {
  margin: 5%;
 }

 .blockimage2 {
  padding: 0;
  background-color: hsl(240, 75%, 98%);
 }



 .blockimage1>img {
  margin: 0;
 }

 #curve {
  grid-area: curve;
  width: 100vw;
  margin-top: 0px;
 }

 .block1content {
  grid-area: a;
  margin-top: 0px;
  justify-self: center;

 }

 .block2content {
  background-color: hsl(240, 75%, 98%);
  grid-area: b;
  justify-self: center;
 }

 .blockimage1>img {
  width: 80vw;
  height: auto;
  margin-top: 80px;
 }

 .blockimage1 {
  justify-self: center;
 }

 .blockimage2>img {
  width: 80vw;
  height: auto;
 }

 .blockimage2>img {
  justify-self: center;
  position: relative;
  margin-left: 10%;
  align-content: center;
  align-items: center;
 }

 #test {
  width: 80vw;
  height: auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 10px hsl(0, 0%, 75%);
  padding: 30px;
  margin: 30px 0 120px 0;
 }

 .container2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 80vw;
  grid-template-areas:
   "e"
   "f"
  ;
 }

 .container3 {
  display: grid;
  grid-template-rows: 0.1fr 0.1fr 1fr 1fr 0.01fr;
  grid-template-columns: 1fr 0px 0px;
  justify-self: center;
  align-content: center;
  color: white;
  background-color: hsl(243, 87%, 12%);
  grid-template-areas:
   "g"
   "h"
   "i"
   "j"
   "k"
  ;
 }

 #ftr3 {
  margin-top: 80px;
 }

 #ftr4 {
  margin-top: 80px;
 }

 #ftr5 {
  justify-self: center;
  margin-top: 80px;
 }

}

@media only screen and (max-width: 433px) {
  nav>a {
    margin-left: 3px;
  }
}
